iframe {
  display: none;
}

.error-container {
  display: inline-block;
  background-color: firebrick;
  padding: 4px;
  border-radius: 4px;
  margin: 0 4px;
  text-align: center;
  cursor: pointer;
}

.error {
  color: ghostwhite;
}

.error-details {
  color: ghostwhite;
  white-space: pre-wrap;
  font-size: 40%;
}

.error-details-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: default;
}

.error-details-container {
  height: 50vh;
  width: 50vw;
  position: relative;
  background-color: tomato;
  border-radius: 8px;
  border: 4px #2f4f4f solid;
  overflow-y: hidden;
  padding-bottom: 24px;
}

.error-details-link {
  background-color: rgba(173, 255, 47, 0.6);
  padding: 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-left: 4px;
  font-size: xx-small;
  cursor: pointer;
  transition: all 500ms;
}

.error-details-link:hover {
  background-color: rgba(173, 255, 47, 0.9);
  transform: scale(1.035);

}
.error-details-stack-indent {
  margin-left: 16px;
  font-size: 80%;
}

.error-details-stack-item {
  display: flex;
  align-items: center;
}

.error-details-title {
  text-align: left;
  padding: 16px 32px;
  font-weight: 600;
  color: whitesmoke;
  background-color: #2f4f4f;
  font-size: 120%;
}


.error-details-stack {
  padding: 16px;
  text-align: left;
}

.error-details-stack-content {
  margin-left: 24px;
}

.error-details-content {
  overflow-y: scroll;
  height: 100%;
}

.error-details-stack-title {
  font-size: 140%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  width: min-content;
  border-radius: 8px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.error-details-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: seashell;
  border-radius: 50%;
  padding: 2px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: 300ms;
  border: 2px darkblue solid;
}

.error-details-close:hover {
  background-color: rgba(255, 245, 238, 0.8);
  transform: scale(1.06);
}